table{
    text-align: right;
    border-collapse: collapse;
}
td,th{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0.2em;
}
th{
    background-color: lightgray;
    text-align: center;
}
td.weekend{
    background-color: lightgreen;
}